
.header{
text-align: center;
  width: 100%;
  background-color: #002a32;
  color: #f4f4f4;
  font-size:30px;
  padding-top: 20px;

  }

.App {
  text-align: center;
  display: flex;
  width: 100%;
  justify-content: space-around;


}

.inputText {
  padding: 20px;

  
}

.submitButton {
  padding: 15px 15px;
  cursor: pointer;
  background-color: #002a32;
  color: #ffffff;
  border-radius: 5px;
  margin-left: 40px;
  margin-top: 20px;
}

ul {
  list-style:none;

  
}

.todoList li input {
  padding: 7px;
  list-style: none;
  background-color: #f4f4f4;
}


.todoList li {
  width: 10%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.todoList li input {
  padding: 7px;
  
}

.side{
  padding-left: 20vh;
  padding-right: 20vh;
  background-color:#f4f4f4;
  width: 50vh;
  height: 600px;
  margin: 100px;
  border-radius: 20px;
  color: #333333;
}

.status{
  background-color:#333333;
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 7px;
  font-size: medium;
  color: #ffffff;


}

.list{
  margin-top: 5px;


}