
.header{
text-align: center;
  width: 100%;
  height: 1000px;
  background-color: #002a32;
  color: #f4f4f4;
  font-size:20px;


  }

.back{
  width: 800px;
  background-color: #ffffff;
  border-radius: 20px;
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;



}

.title{
  justify-content: space-around;
  display: flex;
  padding: 20px;
  background-color:#002a32;
  border-radius: 20px;
  box-sizing:border-box;

}

.App {
  text-align: center;
  display: flex;
  width: 100%;
  justify-content: space-around;


}

.inputText {
  padding: 20px;
  color: #333333;

  
}

.submitButton{
  padding: 15px 15px;
  cursor: pointer;
  background-color: #002a32;
  color: #ffffff;
  border-radius: 5px;
  margin-left: 40px;
  margin-top: 20px;
}

ul {
  list-style:none;
  color: #333333;

  
}

.todoList li input {
  padding: 7px;
  list-style: none;
  color:#333333;
}


.todoList li {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  background-color: #ffffff;
  justify-content: space-between;
}

.todoList li input {
  padding: 7px;
  
}

.status{
  background-color:#333333;
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 7px;
  font-size: medium;
  color: #ffffff;


}

.list{
  margin-top: 5px;


}

.strikethrough {
  text-decoration: line-through;
}

.keep{
  display: block;
  padding: 5px;
  cursor: pointer;
  background-color: #002a32;
  color: #ffffff;
  border-radius: 5px;
  margin: 10px;

}

.delete{
  display: block;
  padding: 5px;
  cursor: pointer;
  background-color: #002a32;
  color: #ffffff;
  border-radius: 5px;
  margin: 10px;

}

.timestamp {
  display: block;
  font-size: 0.8em;
  color: gray;
  margin-top: 5px;
  margin-left: 30px;
}